node_modules/
process.env
disc/token.json
errorlog.json
public/debug/errorlog3.txt
dynamics/errorlog3.txt
errorsLog.log
dynamics/errorsLog.log
outputLog.log
dynamics/outputLog.log
disc2/config.json
/disc2/config.json
small_servers/t2/data/