
body{
	padding:0;
	margin:0;
	background-color: black;
}




.container1 {
	display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.container1 > * {
	margin:1%;
	type:text;
	max-width: 40%;
	overflow-x: visible;
	padding-inline: 1%;
	/*display: inline-block;
  	white-space: nowrap;
  	width:fit-content;
  	overflow: hidden;
  	display: inline-block;*/
}

.statementBx{
	color: rgb(155,0,255);
	background-color: rgb(50,50,80);
	transition: color 400ms;
	font-size: 200%;

}
.statementBx:hover {
	color:yellow;
}

.overlay{
	pointer-events: none;
}


.test{
	color: rgb(255,0,255);
	background-color: pink;
	transition: color 400ms;
	font-size: 200%;

}

.test:hover {
	color:green;
}

